<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="/login">Login</a>
      <a href="/">Home</a>
      <form action="/logout" method="post">
        <button type="submit">logout</button>
      </form>
    </header>
    <h1>
      Welcome to my awesome todo application!
    </h1>
    <h2>I just built this todo application in few seconds</h2>
    <h3>Something that took you guys 3 years, four weeks and five days</h3>
  </body>
</html>
